body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

header{
    padding: 3rem;
}

i{
    text-align: center;
}

p {
    height: max-content;
    background-color: white;
    vertical-align: middle;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.align-center{
    text-align: center;
}

.bottom-border{
    border-bottom: 1px dashed #000000;
    height: 100%;
}

.custom-padding{
    padding-top: calc((4.189em) / 2);
    padding-bottom: calc((4.189em) / 2);
    margin-bottom: 0;
}

.description {
  white-space: pre-wrap;
}

.fade-out{
    opacity: 0;
    transition: opacity 2s;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
  flex-wrap: nowrap;
  justify-content: center;
  
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.no-opacity{
    opacity: 0;
}

.all-opacity{
    opacity: 100;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

#event-saved-confirmation{
    width: fit-content;
    margin: auto;
}

#local-storage-text{
    color: red;
    font-family: monospace, Times, serif;
}

#hour-17{
    margin-bottom: 1.5em;
}

@media screen and (max-width: 440px) {
    p{
        width: 100%;
        padding-left: 0;

        font-size: 5vw;
        color: black;
    }

    .col-small {

        flex: 0 0 auto;
        width: 30%;
    }
}

@media  screen and (max-width: 500px){
    
    header{
        padding-left: 0.7em;
        padding-right: 0.7em;
    }
}

@media screen and (max-width: 380px) {
    
    #work-day-scheduler-heading {
        font-size: 9.5vw;
    }
}

@media screen and (max-width: 350px) {

    header{
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    p.align-center{
        font-size: 7.5vw;
        
        width: 90%;
    }
}

@media screen and (max-width: 250px) {

    .col-small {

        width: 35%;
    }
}

@media screen and (max-width: 225px){
    textarea{
        font-size: 8vw;
    }
}


@media screen and (max-width: 200px) {
    p{
        font-size: 5vw;
    }

    .col-small {
        padding-left: 0.25em;
        width: 45%; 
    }

    .description{
        white-space: nowrap;
    }
}


